[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
msgpack = "*"
neovim = "*"
yapf = "*"

[packages]
jupyter = "*"
requests = "*"
bs4 = "*"
lxml = "*"

[requires]
python_version = "3.8"
